apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-manga2you
spec:
  template:
    spec:
      containers:
      - name: backend-manga2you-container
        resources:
          limits:
            cpu: 1200m
            memory: 1.5Gi
          requests:
            cpu: 1000m
            memory: 1Gi
        envFrom:
          - configMapRef:
              name: backend-manga2you-env-variables
