resources:
  - '../../base'
  - 'namespace.yaml'

namespace: prod

namePrefix: 'prod-'
nameSuffix: '-v1'

patches:
  - target:
      name: backend-manga2you
      kind: Deployment
    path: deployment.yaml